@page "/"

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="@TitleMargin">
    <MudContainer MaxWidth="MaxWidth.Medium">
        @if (ShouldShrinkTitle) {
            <MudText Typo="Typo.h6" GutterBottom="true">Explain PowerShell</MudText>
        }
        else {
            <MudText Typo="Typo.h3" GutterBottom="true">Explain PowerShell</MudText>
            <MudText Class="mb-4">Get explanation for PowerShell code oneliner, inspired by <MudLink Href="https://explainshell.com/">explainshell.com</MudLink> and <MudLink Href="http://showthedocs.com/">showthedocs.com</MudLink>.</MudText>
        }
        <MudCard Elevation="2">
            <MudForm>
                <MudCardContent>
                    <MudTextField @bind-Value="InputValue" Immediate="true" T="string" Label="PowerShell oneliner to explain" AutoFocus="true" KeyUpPreventDefault="true" OnKeyUp="OnKeyUp"/>
                    @if (RequestHasError) {<MudAlert class="mt-2" OnClick="@AcknowledgeAlert" Severity="Severity.Error">@ReasonPhrase</MudAlert>}
                </MudCardContent>
                <MudCardActions>
                    @if (Waiting)
                    {
                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" Class="ml-auto"/>
                    }
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@DoSearch" Disabled="@Waiting" >Explain</MudButton>
                </MudCardActions>
            </MudForm>
        </MudCard>
    </MudContainer>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" hidden="@HideExpandedCode"/>
    <MudText Align="Align.Center" hidden="@HideExpandedCode">@ExpandedCode</MudText>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" hidden="@HasNoExplanations"/>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudTreeView T="Explanation" Items="TreeItems">
            <ItemTemplate>
                <MudTreeViewItem T="Explanation" @bind-Expanded="@context.Expanded" Items="@context.Children" >
                    <Content>
                        <MudTreeViewItemToggleButton @bind-Expanded="@context.Expanded" Visible="@context.HasChildren" /> 
                        @if(context.Value is Explanation explanation && !string.IsNullOrEmpty(explanation.HelpResult?.Syntax)) 
                        {
                            var helpResult = explanation.HelpResult!;
                            <MudGrid Spacing="0">
                                <MudTooltip Text="click for more details" Placement="Placement.End">
                                    <MudItem @onclick="@(() => ToggleCommandDetailsPopoverIsOpen(explanation.Id))" >
                                        <ExplainCard Context="@explanation"/>
                                        <MudPopover Class="ma-2" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" OverflowBehavior="OverflowBehavior.FlipNever" Open="@CommandDetailsPopoverIsOpen[explanation.Id]"> 
                                            <MudSimpleTable Class="pa-2" Style="width:auto;">
                                                <tbody>
                                                    @if(! string.IsNullOrEmpty(helpResult.Description))
                                                    {
                                                        <tr>
                                                            <td>Description</td>
                                                            <td>@helpResult.Description</td>
                                                        </tr>
                                                    }
                                                    @if(! string.IsNullOrEmpty(helpResult.Aliases))
                                                    {
                                                        <tr>
                                                            <td>Aliases</td>
                                                            <td>@helpResult.Aliases</td>
                                                        </tr>
                                                    }
                                                    @if(! string.IsNullOrEmpty(helpResult.ParameterSetNames))
                                                    {
                                                        <tr>
                                                            <td>ParameterSetNames</td>
                                                            <td>@helpResult.ParameterSetNames</td>
                                                        </tr>
                                                    }
                                                    @if(! string.IsNullOrEmpty(helpResult.DefaultParameterSet))
                                                    {
                                                        <tr>
                                                            <td>DefaultParameterSet</td>
                                                            <td>@helpResult.DefaultParameterSet</td>
                                                        </tr>
                                                    }
                                                    @if(! string.IsNullOrEmpty(helpResult.InputTypes))
                                                    {
                                                        <tr>
                                                            <td>InputTypes</td>
                                                            <td>@helpResult.InputTypes</td>
                                                        </tr>
                                                    }
                                                    @if(! string.IsNullOrEmpty(helpResult.ReturnValues))
                                                    {
                                                        <tr>
                                                            <td>ReturnValues</td>
                                                            <td>@helpResult.ReturnValues</td>
                                                        </tr>
                                                    }
                                                    @if(! string.IsNullOrEmpty(helpResult.RelatedLinks))
                                                    {
                                                        <tr>
                                                            <td>RelatedLinks</td>
                                                            <td>
                                                                <ul style="list-style:disc">
                                                                    @foreach(var link in helpResult.RelatedLinks.Split(", ")) {
                                                                        <li><MudLink Href="@link" Target="_blank">@link</MudLink></li>
                                                                    }
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </MudSimpleTable>
                                            <MudButton Class="ma-2" OnClick="@(() => ToggleCommandDetailsPopoverIsOpen(explanation.Id))">Close</MudButton>
                                        </MudPopover>
                                    </MudItem>
                                </MudTooltip>
                                <MudItem>
                                    <MudButton Class="ma-2" OnClick="@(() => ToggleSyntaxPopoverIsOpen(explanation.Id))">Syntax</MudButton>
                                </MudItem>
                                <MudItem>
                                    <MudPopover Class="pa-2" Style="width:auto;" AnchorOrigin="Origin.TopRight" TransformOrigin="Origin.TopLeft" OverflowBehavior="OverflowBehavior.FlipNever" Open="@SyntaxPopoverIsOpen[explanation.Id]">
                                        @foreach (var line in helpResult.Syntax.Split("\n")) {
                                            @foreach (var param in line
                                                .Replace(explanation.CommandName,$"{explanation.CommandName}\n")
                                                .Replace("] [","]\n[")
                                                .Replace("[-", "\n[-")
                                                .Replace(" -","\n-")
                                                .Replace("[\n","[")
                                                .Replace($"\n{explanation.CommandName}",$"\n--\n{explanation.CommandName}")
                                                .Split("\n")) {
                                                <MudItem>
                                                    <MudHighlighter 
                                                        Class="mud-primary-text"
                                                        Style="background-color:transparent;font-weight:bold"
                                                        Text="@param" 
                                                        HighlightedText="@explanation.CommandName" />
                                                </MudItem>
                                            }
                                        }
                                        <MudButton Class="ma-2" OnClick="@(() => ToggleSyntaxPopoverIsOpen(explanation.Id))">Close</MudButton>
                                    </MudPopover>
                                </MudItem>
                            </MudGrid>
                        }
                        else if (context.Value is Explanation explanationWithoutSyntax)
                        {
                            <ExplainCard Context="@explanationWithoutSyntax" />
                        }
                        else
                        {
                            <MudText>No explanation data available.</MudText>
                        }
                    </Content>
                </MudTreeViewItem>
            </ItemTemplate>
        </MudTreeView>
    </MudContainer>
</MudContainer>
