@using System.Text.Json
@page "/"
@inject HttpClient Http

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-16">
    <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-10">
        <MudText Typo="Typo.h3" GutterBottom="true">Explain PowerShell</MudText>
        <MudText Class="mb-4">Get explanation for PowerShell code oneliner, inspired by <MudLink Href="https://explainshell.com/">explainshell.com</MudLink> and <MudLink Href="http://showthedocs.com/">showthedocs.com</MudLink>.</MudText>
        <MudCard Elevation="2">
            <MudForm>
                <MudCardContent>
                    <MudTextField @bind-Value="InputValue" Immediate="true" T="string" Label="PowerShell oneliner to explain" AutoFocus="true" />
                    @if (requestHasError) {<MudAlert class="mt-2" OnClick="@acknowledgeAlert" Severity="Severity.Error">@reasonPhrase</MudAlert>}
                </MudCardContent>
                <MudCardActions>
                    @if (waiting)
                    {
                        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" Class="ml-auto"/>
                    }
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@DoSearch" Disabled="@waiting" >Explain</MudButton>
                </MudCardActions>
            </MudForm>
        </MudCard>
    </MudContainer>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" hidden="@hideExpandedCode"/>
    <MudText Align="Align.Center" hidden="@hideExpandedCode">@expandedCode</MudText>
    <MudDivider DividerType="DividerType.Middle" Class="my-6" hidden="@hasNoExplanations"/>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudTreeView Items="TreeItems">
            <ItemTemplate>
                <MudTreeViewItem @bind-Expanded="@context.IsExpanded" Items="@context.Children" >
                    <Content>
                        <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChildren" /> 
                        @if(!string.IsNullOrEmpty(@context.Item.HelpResult?.Syntax)) 
                        {
                            <MudGrid Spacing="0">
                                <MudTooltip Text="click for more details" Placement="Placement.End">
                                    <MudItem @onclick="@(() => ToggleCommandDetailsPopoverIsOpen(context.Item.Id))" >
                                        <ExplainCard Context="@context.Item"/>
                                    </MudItem>
                                </MudTooltip>
                                <MudItem>
                                    <MudButton Class="ma-2" OnClick="@(() => ToggleSyntaxPopoverIsOpen(context.Item.Id))">Syntax</MudButton>
                                </MudItem>
                                <MudItem>
                                    <MudPopover MaxHeight="600" Class="pa-4" Style="width:auto; position:relative;" Direction="Direction.Bottom" Open="@CommandDetailsPopoverIsOpen[context.Item.Id]">
                                        <MudSimpleTable>
                                            <tbody>
                                                @if(! string.IsNullOrEmpty(@context.Item.HelpResult?.Description))
                                                {
                                                    <tr>
                                                        <td>Description</td>
                                                        <td>@context.Item.HelpResult?.Description</td>
                                                    </tr>
                                                }
                                                @if(! string.IsNullOrEmpty(@context.Item.HelpResult?.Aliases))
                                                {
                                                    <tr>
                                                        <td>Aliases</td>
                                                        <td>@context.Item.HelpResult?.Aliases</td>
                                                    </tr>
                                                }
                                                @if(! string.IsNullOrEmpty(@context.Item.HelpResult?.ParameterSetNames))
                                                {
                                                    <tr>
                                                        <td>ParameterSetNames</td>
                                                        <td>@context.Item.HelpResult?.ParameterSetNames</td>
                                                    </tr>
                                                }
                                                @if(! string.IsNullOrEmpty(@context.Item.HelpResult?.DefaultParameterSet))
                                                {
                                                    <tr>
                                                        <td>DefaultParameterSet</td>
                                                        <td>@context.Item.HelpResult?.DefaultParameterSet</td>
                                                    </tr>
                                                }
                                                @if(! string.IsNullOrEmpty(@context.Item.HelpResult?.InputTypes))
                                                {
                                                    <tr>
                                                        <td>InputTypes</td>
                                                        <td>@context.Item.HelpResult?.InputTypes</td>
                                                    </tr>
                                                }
                                                @if(! string.IsNullOrEmpty(@context.Item.HelpResult?.ReturnValues))
                                                {
                                                    <tr>
                                                        <td>ReturnValues</td>
                                                        <td>@context.Item.HelpResult?.ReturnValues</td>
                                                    </tr>
                                                }
                                                @if(! string.IsNullOrEmpty(@context.Item.HelpResult?.RelatedLinks))
                                                {
                                                    <tr>
                                                        <td>RelatedLinks</td>
                                                        <td>@context.Item.HelpResult?.RelatedLinks</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </MudSimpleTable>
                                        <MudButton OnClick="@(() => ToggleCommandDetailsPopoverIsOpen(context.Item.Id))">Close</MudButton>
                                    </MudPopover>
                                </MudItem>
                                <MudItem>
                                    <MudPopover MaxHeight="600" Class="pa-4" Style="width:auto; position:relative;" Direction="Direction.Right" Open="@SyntaxPopoverIsOpen[context.Item.Id]">
                                        @foreach (var line in @context.Item.HelpResult?.Syntax.Split("\n")) {
                                            @foreach (var param in line
                                                .Replace(context.Item.CommandName,$"{context.Item.CommandName}\n")
                                                .Replace("] [","]\n[")
                                                .Replace("[-", "\n[-")
                                                .Replace(" -","\n-")
                                                .Replace("[\n","[")
                                                .Replace($"\n{context.Item.CommandName}",$"\n--\n{context.Item.CommandName}")
                                                .Split("\n")) {
                                                <MudItem>
                                                    <MudHighlighter 
                                                        Class="mud-primary-text"
                                                        Style="background-color:transparent;font-weight:bold"
                                                        Text="@param" 
                                                        HighlightedText="@context.Item.CommandName" />
                                                </MudItem>
                                            }
                                        }
                                        <MudButton OnClick="@(() => ToggleSyntaxPopoverIsOpen(context.Item.Id))">Close</MudButton>
                                    </MudPopover>
                                </MudItem>
                            </MudGrid>
                        }
                        else
                        {
                            <ExplainCard Context="@context.Item" />
                        }
                    </Content>
                </MudTreeViewItem>
            </ItemTemplate>
        </MudTreeView>
    </MudContainer>
</MudContainer>

@code {
    private Dictionary<string, bool> SyntaxPopoverIsOpen = new Dictionary<string, bool>();
    private Dictionary<string, bool> CommandDetailsPopoverIsOpen = new Dictionary<string, bool>();
    private bool requestHasError {get;set;}
    private string reasonPhrase {get;set;}
    private bool waiting {get;set;}
    private bool hideExpandedCode {get;set;}
    private string expandedCode {get; set;}
    private HashSet<TreeItem<Explanation>> TreeItems { get; set; } = new HashSet<TreeItem<Explanation>>();
    private bool hasNoExplanations {
        get {
            return TreeItems.Count <= 0;
        }
    }
    private string InputValue {
        get {
            return _inputValue;
        }
        set {
            // The MudTextField can be overloaded with large amounts of text. Prevent this with a hard string length limit.
            if (value.Length <= 255)
                _inputValue = value;
        }
    }

    private void acknowledgeAlert() {
        requestHasError = false;
        reasonPhrase = "";
    }

    protected override Task OnInitializedAsync()
    {
        _ = DoSearch();
        return Task.FromResult("");
    }

    private void ToggleSyntaxPopoverIsOpen(string id)
    {
        SyntaxPopoverIsOpen[id] = !SyntaxPopoverIsOpen[id];
    }

    private void ToggleCommandDetailsPopoverIsOpen(string id)
    {
        CommandDetailsPopoverIsOpen[id] = !CommandDetailsPopoverIsOpen[id];
    }


    private async Task DoSearch()
    {
        hideExpandedCode = true;
        waiting = false;
        requestHasError = false;
        reasonPhrase = string.Empty;

        if (string.IsNullOrEmpty(InputValue))
            return;

        waiting = true;
        var code = new Code() { PowershellCode = InputValue };

        HttpResponseMessage temp;
        try {
            temp = await Http.PostAsJsonAsync<Code>("SyntaxAnalyzer", code);
        }
        catch {
            requestHasError = true;
            waiting = false;
            reasonPhrase = "oops!";
            return;
        }

        if (!temp.IsSuccessStatusCode)
        {
            requestHasError = true;
            waiting = false;
            reasonPhrase = await temp.Content.ReadAsStringAsync();
            return;
        }

        var analysisResult = await JsonSerializer.DeserializeAsync<AnalysisResult>(temp.Content.ReadAsStream());

        if (!string.IsNullOrEmpty(analysisResult.ParseErrorMessage))
        {
            requestHasError = true;
            reasonPhrase = analysisResult.ParseErrorMessage;
        }

        waiting = false;
        hideExpandedCode = false;

        SyntaxPopoverIsOpen.Clear();
        foreach (var syntaxedExplanation in analysisResult.Explanations.Where(i => i.HelpResult?.Syntax != null))
        {
            SyntaxPopoverIsOpen.Add(syntaxedExplanation.Id, false);
        }

        CommandDetailsPopoverIsOpen.Clear();
        foreach (var CommandDetails in analysisResult.Explanations.Where(i => i.HelpResult?.Syntax != null))
        {
            CommandDetailsPopoverIsOpen.Add(CommandDetails.Id, false);
        }

        TreeItems = analysisResult.Explanations.GenerateTree(expl => expl.Id, expl => expl.ParentId);
        expandedCode = analysisResult.ExpandedCode;
    }

    private string _inputValue;
}
